
body {
    font-family: 'Times New Roman', 
    Times, serif ;
    width: 100%;
    background-color: rgba(5.9, 41.6, 48.2, .75);
}

.mainheader {
    background-color: rgba(15, 151, 42, 0.5);
    text-align: center;
    border-style: inset;
    border-color: rgba(9, 84, 24, 0.5);
    border-radius: 15px;
    border-width: 3px;
    margin-bottom: .5%;
    width: 98.5%;
}

.introduction {
    background-color: rgba(15, 151, 42, 0.5);
    border-style: inset;
    border-color: rgba(9, 84, 24, 0.5);
    border-width: 3px;
    border-radius: 15px;
    width: 10%;
    margin-bottom: 3%;
    margin-right: 2%;
    float: left;
}

.main{
    padding-left: -17%;
    margin-bottom: 2.5%;
    background-color:cornsilk;
    border-style:inset;
    border-color: rgba(9, 84, 24, 0.5);
    margin-left: 11%;
    border-width: 3px;
    border-radius: 15px;
    width: 87.4%;
    text-align: center;
    float: center;
}

.recent {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    display: inline-block;
}
.mainbody{
    text-align: left;
}

.achievements {
    text-align: left;
}
.linkheader {
    text-align: center;
}

.footerstyle {
    background-color: rgba(15, 151, 42, 0.5);
    border-color: rgba(9, 84, 24, 0.5);
    border-radius: 15px;
    text-align: center;
    margin-bottom: .5%;
    border-style: inset;
    width: 98.5%;
}